* {
    margin: 0;
}
body {
    border: 1px solid black
}
.flex {	
    display: flex;
	/* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* flex-basis: 30%; */
    /* width: 50%; */
    /* height: 200px; */
    background-color: yellow;
    /* align-items: center; */
}
.flex-item {
    border: 1px solid red;
    /* flex-basis: 50%; */
    box-sizing: border-box;
    height: 200px;
    width: 300px;
    
}

.block {
    height: 100px;
    background-color: aquamarine;       
}

.not-responsive {
    width: 1500px;
    background-color: blueviolet;
    z-index: -1;
}
/* .one {
    flex: 1;
}
.two {
    flex: 2;
}
.three {
    flex: 3;
} */

.inline-block {
    display: inline-block;
}
.box {
    width: 150px;
    height: 50px;
    background-color: aquamarine;
}

.flex-word {
    /* width: 150px; */
    border: 1px solid orange;
}