<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Document</title>
		<style>
			body {
				background: skyblue;
				font-family: Verdana;
			}
		</style>
	</head>
	<body>
		<%- include ("partials/nav.ejs") %>
		<h1>Index Page</h1>
		<p>Index</p>
	</body>
</html>
